.theme-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 20px auto auto;
}
.theme-selector .switch .fa-sun {
  color: rgb(255, 255, 255);
}
.theme-selector .switch {
  transition: all 0.5s;
  cursor: pointer;
}

.theme-selector span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
.theme-selector .purple {
  background-color: #58249c;
}
.theme-selector .green {
  background-color: seagreen;
}
.theme-selector .red {
  background-color: #b41111;
}
